<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Slider</title>
    <link rel="stylesheet" href="./css/style.css" />
</head>

<body>

    <div id="app">
        <div class="container">

            <div class="slider-wrapper" 
                tabindex="0" 
                @mouseenter="stopAutoplay()" 
                @mouseleave="startAutoplay()"
            >

                <div v-for="(currentSlide, index) in slides" v-show="index == currentSlideIndex" class="item">
                    <img :src="currentSlide.image" :alt="currentSlide.title" />
                    <!-- <img :src="currentSlide.image" alt="Spiderman"/> -->
                    <div class="text">
                        <h3>{{ currentSlide.title }}</h3>
                        <p>
                            {{ currentSlide.text }}
                        </p>
                    </div>
                </div>

                <div class="thumbs">
                    <div @click="prevSlide()" class="prev"></div>
                    <div @click="nextSlide()" class="next"></div>

                    <div v-for="(currentSlide, index) in slides" @click="changeSlide(index)" class="thumb active">
                        <img :src="currentSlide.image" alt="Svezia" />

                    <!-- <div class="thumb active">
                        <img src="img/miles-morales.jpg" alt="Spiderman" />
                    </div>
                    <div class="thumb">
                        <img src="img/Ratchet and clank.jpg" alt="Ratchet & Clank" />
                    </div>
                    <div class="thumb">
                        <img src="img/Fortnite.jpg" alt="Fortnite" />
                    </div>
                    <div class="thumb">
                        <img src="img/Stray.jpg" alt="Stray" />
                    </div>
                    <div class="thumb">
                        <img src="img/Avengers.jpg" alt="Avengers" /> -->
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
    <script src="./js/script.js"></script>
</body>

</html>